<!DOCTYPE html>
{% extends 'apps/index.html' %}
{% block body_block %}
<html>
<head>
	<title>Rockstar Arena</title>
</head>
<body style="background-color: red">
<main>
	<h1 style="color: red;font-size: xx-large;font-family: arial">Hello Everyone</h1><p style="color: blue;font-size: x-large;text-align: justify;">Rockstar Arena is a leading Training Development & Placement Company in Trichy. We are known for our practical approach towards training that enables students to gain real-time exposure to competitive technologies.Training is offered by employees from MNCs to give real corporate exposure to students.</p>
	<article>
			<h2 style="color: green;font-size: xx-large;font-family: arial">Django Web Development Course</h2>
			<p style="color: blue;font-size: x-large;text-align: justify;">Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
</p>

		</article>
	
</main>
</body>
{%endblock%}
</html>