{% extends 'apps/index.html' %}
{%load static %}
{%block body_block %}
<!DOCTYPE html>
<html>
<link rel="stylesheet"  href="{%static 'css/22.css'%}">
<head>
	<h1 style="color: #3a41fc;text-align: center;">
		<b> OUR GALLERY </b>
	</h1>
	<title></title>
</head>
<body>
	<img src="{%static '/images/python.png'%}">
	<img src="{%static '/images/django.png'%}">
	<img src="{%static '/images/c.png'%}">
	<img src="{%static '/images/c++.png'%}">
	<img src="{%static '/images/sql.jpg'%}">
	<img src="{%static '/images/css.png'%}">
</body>
{%endblock%}
</html>