<!DOCTYPE html>
{% extends 'apps/index.html' %}
{%block body_block %}
<html>
<head>
	<h1 style="color: #3a41fc;text-align: center;">
		<b>TRAINING COURSES</b>
	</h1>
<h2 style="color: black;text-align: center;">100% PRACTICAL TRAINING</h2>
</head>
	<title></title>
</head>
<style>
	p1{

		color:green;text-indent: 30px;text-align: center;font-family: 'Times New Roman',Times,serif;font-size: xx-large;
	}
</style>
<body>
	<p1>Django<hr>Python<hr>C<hr> C++<hr> SQL<hr> CSS & HTML</p1>
</body>
{%endblock%}
</html>